@font-face { font-family: Norse; src: url('Norse-Bold.otf'); } 

* {
    background-color: red;
}

#odin {
    font-family: Norse;
}

body {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
}
left {
    background-image: url("sign-up-form.png");
}